
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #7ce2af
}

th {
    background-color: #7c0f65;
    color: white;
}

.button {
    position: relative;
    text-align: center;
    padding: 20px;
    border: 4px solid rgb(55, 12, 211);
    background: rgba(20, 192, 4, 0.5);
    color: rgb(230, 36, 78);
    outline: none;
    border-radius: 30px;
    font-size: 30px;
    width: 500px;

}

.button:hover {
    color: black;
    background: white;
}